<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>flask application</h1>
    <p>first paragraph</p>
    <form action="/" method="post">
        <label>enter the height</label><br>
        <input type="number" name="height" placeholder="enter the height">
        <input type="submit">
    </form> 
    <h1> entered height value is {{hei}}</h1>
    <h1> entered weight value is {{wei}}</h1>
</body>
</html>